<!DOCTYPE html>
<html>
    <div id="bg" style="z-index: -5;">
        <img src="assets/img/traveler.jpg" alt="">
      </div>
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
      <meta charset="utf-8">
      <title>Login Page</title>
    </head>
    <body>
        <header>
            <div class="center">
                <nav roll="second">
                    <ul>
                        <li><a routerLink="/login">Login</a></li>
                        <li><a routerLink="/register">Sign up</a></li>
                    </ul>
                </nav>
            </div>
            <div class="container">
                <img src="assets/img/letter.png" alt="logo" class="logo" width="40" height="40">
                <nav roll="first">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                        
                    </ul>
                </nav>
            </div>
            
        </header>
    </body>
</html>
