<div id="bg" style="z-index: -5;">
    <img src="assets/img/traveler.jpg" alt="">
  </div>
<body>
    <div class="center">
        <div style="display: inline-block;">
            <form class="box" action="index.html" method="post">
                <h1>Login</h1>
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <input type="submit" value="Login">
            </form>
            <div class="center">
                <span class="dark-theme" style="padding-right: 10px;">Don't have an account?</span><br>
                <a class="plain-text-button dark-theme-dynamic" routerLink="/register">register</a>
            </div>
        </div>
    </div>
</body>
