<div id="bg" style="z-index: -5;">
    <img src="assets/img/traveler.jpg" alt="">
  </div>
<body>
    <div class="center-absolute">
        <div style="display: flex; flex-direction: column;">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="box" action="index.html" method="post">
                <h1>Login</h1>
                <input formControlName="email" [formControl]="emailFormControl" class="input-1" type="text" placeholder="email" required>
                <input formControlName="password" [formControl]="passwordFormControl" class="input-1" type="password" placeholder="password" required>
                <button type="submit">Login</button>
            </form>
            <div class="center">
                <span class="dark-theme" style="padding-right: 10px;">Don't have an account?</span><br>
                <a class="plain-text-button dark-theme-dynamic" routerLink="/register">register</a>
            </div>
        </div>
    </div>
</body>
