.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-absolute {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
	margin: auto;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.box {
    display: flex;
    flex-direction: column;
    text-align:center;
    width: 270px;
    padding: 0px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-bottom: 10px;
}

.box h1{
    color:black;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight:500;
}

.input-1 {
    width: 100%;
    font-size: small;
}

.input-2 {
    width: 48%;
    font-size: small;
}

.input-3 {
    font-size: small;
    padding: 0px;
}

.box button {
    display: block; 
    width: 40%;
    height: 30px;
    border: 0;
    background:none;
    line-height: 15px;
    text-align:center;
    border:2px solid #5c5b5b;
    margin: auto;
    outline:none;
    color:black;
    border-radius:15px;
    transition:0.15s;
    box-sizing: border-box;
}

.box input {
    border:0;
    background:none;
    text-align:center;
    border:2px solid #5c5b5b;
    height: 25px;
    line-height: 25px;
    margin: auto;
    margin-bottom: 10px;
    outline:none;
    color:black;
    border-radius:15px;
    transition:0.15s;
    box-sizing: border-box;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    border-color: white;
}

.box input[type="submit"]{
    cursor:pointer;
    background: #8d8d8d;
}

.box button[type="submit"]:hover{
    background: #2ecc71;
}

.plain-text-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.light-theme-dynamic {
    color: white;
}

.light-theme-dynamic:hover {
    color: lightgray;
}

.dark-theme-dynamic {
    color: #5c5b5b;
}

.dark-theme-dynamic:hover {
    color: #747474;
}

.light-theme {
    color: white;
    cursor: default;
}

.dark-theme {
    color: #5c5b5b;
    cursor: default;
}
h2{
    color:black;
}

.input-standard-flex {
    display: flex;
    height: 25px;
}

.input-standard {
    /* display: flex; */
    height: 25px;
}
