<body>
    <div class="center">
        <div style="display: inline-block;">
            <form class="box" [formGroup]="registerForm" action="index.html" method="post">
                <h1>Register</h1>
                <div id="firstlast"; style="display:flex;">
                    <input formControlName="first" type="text" placeholder="First Name" required>
                    <input formControlName="last" type="text" placeholder="Last Name" required>
                </div>
                <input formControlName="username" type="text" placeholder="username" required>
                <input formControlName="email" type="text" placeholder="email" required>
                <input formControlName="password" type="password" placeholder="password" required>
                <input type="submit" name="" value="Register" (click)="register()">
            </form>
            <div class="center">
                <span class="dark-theme" style="padding-right: 10px;">Already have an account? </span>
                <span class="plain-text-button dark-theme-dynamic" (click)="routeToLogin()">login</span>
            </div>
        </div>
    </div>
</body>
