<body>
    <div id="bg" style="z-index: -5;">
        <img src="assets/img/traveler.jpg" alt="">
      </div>
    <div class="center-absolute">
        <div style="display: flex; flex-direction: column;">
            <form class="box" [formGroup]="registerForm" action="index.html" method="post">
                <h1>Register</h1>
                <div style="display:flex; flex-direction: row;">
                    <input style="margin-right: 4%;" class="input-2" formControlName="first" type="text" placeholder="First Name" required>
                    <input class="input-2" formControlName="last" type="text" placeholder="Last Name" required>
                </div>
                <input class="input-1" formControlName="username" [formControl]="emailFormControl" type="text" placeholder="username" required>
                <input class="input-1" formControlName="email" [formControl]="passwordFormControl" type="text" placeholder="email" required>
                <input class="input-1" formControlName="password" type="password" placeholder="password" required>
                <button type="submit" (click)="register()">Register</button>
            </form>
            <div class="center">
                <span class="dark-theme" style="padding-right: 10px;">Already have an account? </span>
                <a class="plain-text-button dark-theme-dynamic" routerLink="/login">login</a>
            </div>
        </div>
    </div>
</body>
